---
import Logo from "../components/Logo.astro"
import "../css/Biomas.css";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biomas</title>
</head>
<body>
    <Logo/>

<section class="Biomas">
    <div class="Galeria-Biomas"> 
        
        <div class="Bioma-savana">
             <a href="/Savana">
                <img src="/imagens-biomas/Bioma-savana-(Africa, partes-do-Brasil-e- Austrália).png" alt="Savana africa">
            </a>
        </div>
        
        <div class="Bioma-pantanal"> 
            <a href="/Patanal">
                <img src="/imagens-biomas/Bioma-de-agua Doce- Pantanal.png" alt="Pantanal">
            </a>
        </div>

        <div class="Bioma-deserto">
            <a href="/Deserto">
                <img src="/imagens-biomas/Bioma-deserto-(Saara,Atacama, Arizona).jpg" alt="Deserto">
            </a>
        </div>
        
        <div class="Bioma-floresta-temperada">
            <a href="/FlorestaTemperada">
                <img src="/imagens-biomas/Bioma-floresta-temperada-(Europa, América do Norte, Asia).png" alt="Floresta temperada">
            </a>
        </div>

        <div class="Bioma-floresta-tropical" >
            <a href="/FlorestaTropical">
                <img src="/imagens-biomas/Bioma-floresta-tropical-amazonia.jpg" alt="Floresta tropical">
            </a>
        </div>

        <div class="Bioma-montanha">
            <a href="/Montanha">
                <img src="/imagens-biomas/Bioma-montanha-(Himalaia, Andes, Rochosas).jpg" alt="Montanha">
            </a>
        </div>

        <div class="Bioma-taiga">
            <a href="/Taiga">
                <img src="/imagens-biomas/Bioma-taiga (ou floresta-boreal-Canada, Russia-Escandinavia).jpg" alt="Taiga">
            </a>
        </div>
        
        <div class="Bioma-tundra">
            <a href="/Tundra">
                <img src="/imagens-biomas/Bioma-tundra(Artico, norte-do-Canada e Rússia).jpg" alt="Tundra">
            </a>
        </div>
    </div>
</section>
    
</body>
</html>