---
import "../css/mapa.css";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Mapa</title>
</head>
<body>
    <div class="logo-banner">
        <a href="/">
        <img src="/imagens-zoo/Logo.png" alt="Logo do Zoobestial">
        </a>
    </div>

    <section class="mapa">
        <div class="mapa_zoo">
            <img src="/imagem-mapa/mapa_zoo.png" alt="Mapa do zoológico">
        </div>
        </section>


</body>
</html>