<div class="logo-banner">
 <a href="/" target="_blank">
  <img class="logo-img" src="/Logo.png" alt="Logo do Zoo" />
</div>

<style>
.logo-banner {
  width: 100%;
  height: 150px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*BLINDAGEM TOTAL */
.logo-img {
  height: 150px !important;
  width: auto !important;
  max-width: none !important;
  object-fit: contain !important;
  display: block !important;
}
</style>